pkgbase = replicator
	pkgdesc = Renders configuration files from templates
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/holocm/replicator
	arch = i686
	arch = x86_64
	arch = armv7h
	license = GPL3
	makedepends = go
	options = !strip
	source = https://github.com/holocm/replicator/archive/v0.4.0.tar.gz
	sha256sums = 1575b749d33e9b262c0b91a102dad3b9ac4aad259b7ff6ff3c734eb76d5e30d7

pkgname = replicator

